{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": "2017"
  },
  "extends": "google",
  "rules": {
    "arrow-parens": 0,
    "valid-jsdoc": "off",
    "require-jsdoc": "off"
  }
}
