{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": "2017"
  },
  // "extends": ["eslint:recommended", "google"],
  "extends": ["google"],
  "rules": {
    "max-len": ["error", {"ignoreComments": true}],
    "arrow-parens": 0,
    "valid-jsdoc": "off",
    "require-jsdoc": "off",
    "keyword-spacing": ["error"],
    "no-console": ["error", {"allow": ["warn", "error"]}],
    "no-extra-semi": ["error"],
    "nonblock-statement-body-position": ["error", "below"]
  }
}
